@charset "UTF-8";
@font-face {
    font-family: "Meslo";
    src: url(fonts/MesloLGL-Regular.ttf) format("trueType");
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --default-font: "Meslo", sans-serif;
}

body {
    font-family: var(--default-font);
    margin: 0px;
    background-color: black;
    color: white;
}


/*Header e afins*/
header {
    height: 100vh;
    background: black url(photos/background-space.jpg) center no-repeat fixed;
    background-size: cover;
}

header div#header-container {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    text-align: center;
}

header div#header-container h1 {
    font-family: "Space Grotesk";
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/*Main e afins*/
main {
    padding: 10px 50px;
}

main section {
    margin: auto;
    max-width: 800px;
}

/*Footer e afins*/
footer {
    text-align: center;
}

footer > img {
    display: inline;
    margin: 0px 0px 10px 0px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}